<!DOCTYPE html>
<html lang="en">
<head>
    <script src="/static/js/jquery-3.3.1.min.js"></script>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <p id="page_title"></p>

    <form id="data_form">
        <ul>
            <li>Title: <input id="title" name="title" type="text" required/></li>
            <li>Authors: <select id="authors" name="authors" multiple></select></li>
            <li>ISBN: <input id="isbn" name="isbn" type="text" maxlength="17" minlength="9"/></li>
            <li>Price: <input id="price" name="price" type="number" required/></li>
            <li>Publish date: <input id="publish_date" name="publish_date" type="date"/></li>
        </ul>
    </form>
    <button id="save">Save</button>
</body>


<script>
    function get_authors(){
        $.ajax({
            type: "GET",
            url: '/api/authors',
            contentType: 'json',
            async: false,
            success: function (resp) {
                let author_selector = $('#authors');
                author_selector.empty();

                $.each(resp, function (i, author) {
                    author_selector.append($('<option>', {
                        value: author.id,
                        text: author.full_name
                    }));
                })
            }
        });
    }

    function get_book(book_id){
        $.ajax({
            type: "GET",
            url: '/api/books/' + book_id,
            contentType: 'json',
            async: false,
            statusCode: {
                200: function (resp) {
                    console.log(resp);
                    if ('authors' in resp) {
                        $.map(resp.authors, function(author){
                           $('#authors option[value="'+author.id+'"]').prop('selected', true);
                        });
                        delete resp.authors;
                    }
                    $.map(resp, function (value, field) {
                        $('#'+field).val(value);
                    })
                },
                404: function () {
                    alert('Book not found');
                    window.location.replace('/');
                }
            }
        });
    }


    function get_page_type() {
        const pathname = window.location.pathname;
        if (pathname.indexOf('create') !== -1){
            return 0;
        } else {
            let splited = pathname.split('/');
            return parseInt(splited[splited.length -1]);
        }
    }

    let item_id = get_page_type();

    $('#save').on('click', function () {
        var form_data = $('#data_form').serializeArray();
        var data = {};
        $.map(form_data, function (field) {
            if (data[field.name]) {
                if (!data[field.name].push) {
                    data[field.name] = [data[field.name]];
                }
                data[field.name].push(field.value || '');
            } else {
                data[field.name] = field.value || '';
            }
        });
        if (data.title.length && data.price.length) {

            var url = '/api/books';
            if (item_id !== 0) {
                url += '/' + item_id;
            }
            $.ajax({
                type: "POST",
                url: url,
                contentType: 'json',
                async: false,
                data: JSON.stringify(data),
                success: function (resp) {
                    window.location.replace(/edit/ + resp.id);
                }
            });
        } else {
            alert('title and price are required');
        }
    });

    $(document).ready(function () {

        get_authors();
        if (item_id === 0){
            $('#page_title').text('CREATE');
        } else {
            $('#page_title').text('EDIT');
            get_book(item_id);
        }
    });
</script>
</html>