<!DOCTYPE html>
<html lang="en">
<style>
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}
</style>

<head>
    <script src="/static/js/jquery-3.3.1.min.js"></script>
    <script src="/static/js/cookies.js"></script>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <p>BOOKS LIST</p>

    <div style="width: 50%; float: left;">

        <table id="books_list">
            <thead>
                <tr>
                    <td><button id="prev" class="get_page" disabled><<</button><span id="pagination"></span><button id="next" class="get_page" disabled>>></button></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><a href="/create" class="manager_only">add new</a></td>
                </tr>
                <tr>
                    <th width="25%">Title</th>
                    <th width="20%">Authors</th>
                    <th width="20%">ISBN</th>
                    <th>Price</th>
                    <th width="15%">Publish date</th>
                    <th width="10%"></th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>

    <footer class="footer">
        <p><a href="/admin">admin site</a></p>

        <p>&copy; <span id="current-year"></span></p>
    </footer>
</body>



<script>
    function get_data(page) {
        $.ajax({
            type: "GET",
            url: '/api/books',
            contentType: 'json',
            data: {'page': page},
            async: false,
            success: function (resp) {
                let data = resp.data;
                $("#books_list > tbody").empty();
                for (let i=0; i < data.length; i++){
                    $('#books_list').append(
                        '<tr><td>' + data[i].title + '</td><td>'
                        + $.map(data[i].authors, function(a){ return a.full_name }) + '</td><td>' + data[i].isbn
                        + '</td><td>' + data[i].price + '</td><td>'
                        + data[i].publish_date + '</td><td><a href="/edit/' + data[i].id +'" class="manager_only">edit</a></td></tr>'
                    );
                }

                build_pagination(resp.total_books, resp.page);
            }
        });
    }


    function build_pagination(total_books, page){
        let max_page = Math.ceil(total_books / 50);
        let pagination = $('#pagination');

        pagination.empty();
        $('#prev').prop('disabled', true).removeAttr('value');
        $('#next').prop('disabled', true).removeAttr('value');
        if (max_page === 1) {
            pagination.append('<button type="button" value="1" disabled>1</button>');
            $('#prev').prop('disabled', true);
            $('#next').prop('disabled', true);
        } else {
            let pagination_body = '';
            if (page === 1) {
                $('#prev').prop('disabled', true);
                {#pagination_body += '<button type="button" value="1" disabled>1</button>';#}
            } else {
                $('#prev').prop('disabled', false).val(page - 1);
                pagination_body += '<button type="button" class="get_page" value="1">1</button>';
            }

            if (page - 1 > 1) {
                pagination_body += '...'
            }

            if (page + 1 < max_page) {
                $('#next').prop('disabled', false).val(page + 1);
                pagination_body += '<button type="button" value="'+ page +'" disabled>' + page + '</button>...';
                pagination_body += '<button type="button" class="get_page" value="'+ max_page +'">' + max_page + '</button>';
            } else if (page === max_page){
                $('#next').prop('disabled', true);
                pagination_body += '<button type="button" value="'+ page +'" disabled>' + page + '</button>';
            } else {
                $('#next').prop('disabled', false).val(page + 1);
                 pagination_body += '<button type="button" value="'+ page +'" disabled>' + page + '</button>';
                 pagination_body += '<button type="button" class="get_page" value="'+ max_page +'">' + max_page + '</button>';
            }

            pagination.append(pagination_body);
            pagination.find('.get_page').on('click', function () {
                get_data($(this).val());
            });
        }

    }

    $('.get_page').on('click', function () {
        get_data($(this).val());
    });


    $(document).ready(function () {

        var current_year = (new Date()).getFullYear();
        console.log(current_year);
        if (current_year == 2018) {
            $('#current-year').text(2018);
        } else {
            $('#current-year').text('2018 - ' + current_year);
        }

        get_data(1);
        var cookies = decodeURIComponent(document.cookie).split(';');
        if (getCookie('is_manager') != 1) {
            $('.manager_only').remove();
        }
    });

</script>
</html>